* {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 62.5%;
}

ul {
	margin-left: 0;
	padding-left: 0;
}

.content {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	font-family: 'Roboto', sans-serif;
	color: #333;
}

a {
	color: #333;
}

a:visited {
	color: #555;
}

a:hover {
	cursor: pointer;
}

ul {
	list-style: none;
}

/***** LANDING STYLES *****/

.landing {
	width: 100%;
	height: 100%;
	z-index: 1000;
	position: fixed;
	background: rgba(220, 220, 220, 0.5);
}

.header {
	margin-top: 35%;
}

.center-text {
	text-align: center;
}

.headline,
.tagline {
	text-shadow: 1px 1px white,
				  3px 3px 5px #555;
}

.headline {
	width: 33%;
	margin: 0 auto;
	font-weight: 900;
	font-size: 13em;
}

.tagline {
	font-weight: 500;
	font-size: 5em;
	margin: 2em 0;
}

.box-shadow {
	box-shadow: 3px 3px 15px #555;
}

.location {
	margin: .75em auto;
	display: block;
	font-size: 2em;
}

.text-input {
	padding: 2px 10px;
}

.submit {
	margin-top: 1.5em;
}

/****** LOADING SCREN STYLES ******/

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.loading-screen,
.fail-screen {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	animation-name: loading;
	animation-duration: 1.5s;
	display: none;
	background: #ddd;
}

@keyframes loadingText {
   from {color: #222;}
    to {color: #444;}
    to {color: #888;}
    to {color: #333;}
    to {color: #777;}
    to {color: #222;}
    to {color: #666;}
    to {color: #111;}
    to {color: #333;}
}

@keyframes loading {
    from {background-color: #999;}
    to {background-color: #888;}
    to {background-color: #eee;}
    to {background-color: #999;}
    to {background-color: #aaa;}
    to {background-color: #bbb;}
    to {background-color: #888;}
    to {background-color: #999;}
    to {background-color: #ddd;}
}

.loading {
    animation-name: loadingText;
    animation-duration: 1.5s;
}

.reload {
	width: 25em;
	height: 10em;
	margin: 0 auto;
	background: #efefef;
	border-radius: 5px;
	border: solid 1px #222;
	box-shadow: 2px 2px 2em #333;
	padding-top: 2em;
}

.try-again {
	margin: 0;
	color: #343434;
}

/***** MAIN CONTENT STYLES *****/

.map, 
.show-listings {
	border: solid 1px #444;
}

.main-content {
	height: 100%;
	width: 100%;
}

.show-listings {
	height: 35%;
	padding: 1.5em;
	position: fixed;
	background-color: rgb(245, 245, 245);
	bottom: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	overflow: auto;
	display: none;
}

.map {
	position: relative;
	height: 100%;
	z-index: 1;
}

.listing {
	border-bottom: solid 1px #444;
	padding-bottom: 15px;
	padding-left: 25px;
}

.listing-title {
	font-size: 4.8rem;
	margin: 25px 0;
}

.listing-subheading {
	font-size: 4.1rem;
	margin: 25px 0;
}

.otherInfo {
	display: none;
	font-size: 1.5rem;
}




